ISO13584-32/class.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
ISO TC 184/SC 4/WG 2 N869 - ISO 13584-32 OntoML - XML schema
-->
<!--
Changes
2016-10-13: added //element(*,CLASS_Type)/@guid
2018-08-21: fixed a type on constraint in DATATYPES_REFERENCE_Type so XSD finally goes without warnings
-->
<!--

The following permission notice and disclaimer shall be included in all copies of this DTD/XML Schema ("the Schema"), 
and derivations of the Schema:

© ISO 2010 — All rights reserved

Permission is hereby granted, free of charge in perpetuity, to any person obtaining a copy of the Schema, to use, 
copy, modify, merge and distribute free of charge, copies of the Schema for the purposes of developing, implementing, 
installing and using software based on the Schema, and to permit persons to whom the Schema is furnished to do so, 
subject to the following conditions:

THE SCHEMA IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE 
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS 
OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR 
OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SCHEMA OR THE USE OR OTHER DEALINGS IN THE SCHEMA.

In addition, any modified copy of the Schema shall include the following notice:

THIS SCHEMA HAS BEEN MODIFIED FROM THE SCHEMA DEFINED IN ISO 13584-32, AND SHOULD NOT BE INTERPRETED AS COMPLYING 
WITH THAT STANDARD

-->
<xs:schema xmlns="urn:iso:std:iso:is:13584:-32:ed-1:tech:xml-schema:ontoml" xmlns:val="urn:iso:std:iso:ts:29002:-10:ed-1:tech:xml-schema:value" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:is:13584:-32:ed-1:tech:xml-schema:ontoml" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="identifier.xsd"/>
	<xs:include schemaLocation="basic.xsd"/>
	<xs:include schemaLocation="translation.xsd"/>
	<xs:include schemaLocation="external_file.xsd"/>
	<xs:include schemaLocation="constraint.xsd"/>
	<xs:import namespace="urn:iso:std:iso:ts:29002:-10:ed-1:tech:xml-schema:value" schemaLocation="../ISO29002/value.xsd"/>
	<!-- Global element -->
	<xs:element name="class" type="CLASS_Type"/>
	<!-- Complex type definitions -->
	<xs:complexType name="ASSIGNED_VALUE_Type">
		<xs:sequence>
			<xs:group ref="val:value_Group"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CLASS_CONSTANT_VALUES_Type">
		<xs:sequence>
			<xs:element name="class_value_assignment" type="CLASS_VALUE_ASSIGNMENT_Type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
        <xs:complexType name="CLASS_Type" abstract="true">
		<xs:sequence>
			<xs:element name="date_of_original_definition" type="DATE_TYPE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32: 

The date associated to the first stable version of the class definition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date_of_current_version" type="DATE_TYPE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32: 

The date associated to the present version of the class definition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date_of_current_revision" type="DATE_TYPE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The date associated to the present revision of the class definition

</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="revision" type="REVISION_TYPE_Type">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Revision number of the  class definition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="STATUS_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

ECLASS delivers always elements in released status only.

Further semantic not used by ECLASS, always constant 66.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="translation" type="TRANSLATION_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Set of translations 

ECLASS may provide translations independent to releases of the class</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source_language" type="LANGUAGE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Language in which the class definition was initially defined and that provides the reference meaning in case of translation discrepancy

For ECLASS always set to en_US</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="is_deprecated" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

A Boolean that specifies, when true, that the property definition shall no longer be used.
If true the property is deprecated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="is_deprecated_interpretation" type="TEXT_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferred_name" type="PREFERRED_NAME_Type">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The name of the class that is preferred for use, possibly translated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="synonymous_names" type="SYNONYMOUS_NAME_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Set of synonymous names</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="short_name" type="SHORT_NAME_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Abbreviation of the preferred name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="icon" type="GRAPHICS_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="definition" type="TEXT_Type">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The text describing this class, possibly translated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source_doc_of_definition" type="SOURCE_DOCUMENT_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The possible source document of the definition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="note" type="TEXT_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="remark" type="TEXT_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="its_superclass" type="CLASS_REFERENCE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Reference to the class the current one is a subclass of</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="described_by" type="PROPERTIES_REFERENCE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The list of references to the additional properties available for use in the description of the instances within this class, and any of its subclasses</xs:documentation>
				</xs:annotation>
				<xs:unique name="described_by_Unique">
					<xs:selector xpath="property"/>
					<xs:field xpath="@property_ref"/>
				</xs:unique>
			</xs:element>
			<xs:element name="defined_types" type="DATATYPES_REFERENCE_Type" minOccurs="0">
				<xs:unique name="defined_types_Unique">
					<xs:selector xpath="datatype"/>
					<xs:field xpath="@datatype_ref"/>
				</xs:unique>
			</xs:element>
			<xs:element name="defined_documents" type="DOCUMENTS_REFERENCE_Type" minOccurs="0">
				<xs:unique name="documents_Unique">
					<xs:selector xpath="document"/>
					<xs:field xpath="@document_ref"/>
				</xs:unique>
			</xs:element>
			<xs:element name="constraints" type="CONSTRAINTS_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The set of constraints that restrict the  domains of values of properties of the class to a subset in the context of the class</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hierarchical_position" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The coded representation of the class position in a class inclusion hierarchy to which it belongs

For ECLASS:
Only filled for CATEGORIZATION_CLASS. 

Defines the coded name of the class, written without any delimiter.

Example: 27371404</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="keywords" type="KEYWORD_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Set of keywords</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sub_class_properties" type="PROPERTIES_REFERENCE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

For properties in this set. in subclasses one single value will be assigned per class.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="class_constant_values" type="CLASS_CONSTANT_VALUES_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Assignments of value  in the current class for class-valued properties declared as sub_class_properties  in superclasses.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geometric_representation_context" type="GEOMETRIC_CONTEXT_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="global_unit_context" type="GEOMETRIC_UNIT_CONTEXT_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The specification of the length unit, and possibly angle unit, that are assigned to the geometric representation context of all the positioning entities (AXIS type properties) of the class.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="ClassId" use="required"/>
		<xs:attribute name="guid" type="GUID"/>
	</xs:complexType>
	<xs:complexType name="CLASS_VALUE_ASSIGNMENT_Type" abstract="false">
		<xs:sequence>
			<xs:element name="super_class_defined_property" type="PROPERTY_REFERENCE_Type"/>
			<xs:element name="assigned_value" type="ASSIGNED_VALUE_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CATEGORIZATION_CLASS_Type">
		<xs:annotation>
			<xs:documentation>According to ISO13584-32:

categorization_class allow to classify an item characterized as an item in various classification systems. 

Such a classification does not imply any additional properties

Neither properties nor data types, nor constraints are associated with such a class. 

Moreover, categorization classes may not be related to each other by the is-a inheritance relationship, but they may only be related to each other through the is-case-of class relationship.

ECLASS uses the term CLASSIFICATION_CLASS for categorization_class
(see ECLASS Technical Specification 11)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CLASS_Type">
				<xs:sequence>
					<xs:element name="categorization_class_superclasses" type="CLASSES_REFERENCE_Type" minOccurs="0">
						<xs:unique name="categorization_case_of_Unique">
							<xs:selector xpath="class"/>
							<xs:field xpath="@class_ref"/>
						</xs:unique>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FM_CLASS_VIEW_OF_Type">
		<xs:annotation>
			<xs:documentation>Not used by ECLASS</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CLASS_Type">
				<xs:sequence>
					<xs:element name="created_view" type="CLASS_REFERENCE_Type"/>
					<xs:element name="v_c_v_range" type="V_C_V_RANGE_Type" minOccurs="0"/>
					<xs:element name="imported_properties_from_view" type="PROPERTIES_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_types_from_view" type="DATATYPES_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_documents_from_view" type="DOCUMENTS_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_constraints_from_view" type="CONSTRAINTS_Type" minOccurs="0"/>
					<xs:element name="case_of" type="CLASSES_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_properties_from_models" type="PROPERTIES_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_types_from_models" type="DATATYPES_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_documents_from_models" type="DOCUMENTS_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_constraints_from_models" type="CONSTRAINTS_Type" minOccurs="0"/>
					<xs:element name="view_of" type="CLASS_REFERENCE_Type"/>
					<xs:element name="imported_properties_from_item" type="PROPERTIES_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_types_from_item" type="DATATYPES_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_documents_from_item" type="DOCUMENTS_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_constraints_from_item" type="CONSTRAINTS_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FUNCTIONAL_MODEL_CLASS_Type">
		<xs:annotation>
			<xs:documentation>According to ISO13584-32:

A functional model class is intended to provide the discipline-oriented point of view descriptions of items which is specified by a functional view class

ECLASS uses the Term ASPECT_CLASS (see ECLASS Technical Specification 11)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CLASS_Type">
				<xs:sequence>
					<xs:element name="created_view" type="CLASS_REFERENCE_Type">
						<xs:annotation>
							<xs:documentation>According to ISO13584-32:

Reference to the functional view class that characterizes the point of view addressed </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="v_c_v_range" type="V_C_V_RANGE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not used by ECLASS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imported_properties_from_view" type="PROPERTIES_REFERENCE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not used by ECLASS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imported_types_from_view" type="DATATYPES_REFERENCE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not used by ECLASS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imported_documents_from_view" type="DOCUMENTS_REFERENCE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not used by ECLASS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imported_cosntraints_from_view" type="CONSTRAINTS_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not used by ECLASS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="case_of" type="CLASSES_REFERENCE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not used by ECLASS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imported_properties_from_models" type="PROPERTIES_REFERENCE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not used by ECLASS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imported_types_from_models" type="DATATYPES_REFERENCE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not used by ECLASS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imported_documents_from_models" type="DOCUMENTS_REFERENCE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not used by ECLASS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imported_constraints_from_models" type="CONSTRAINTS_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not used by ECLASS</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GEOMETRIC_CONTEXT_Type">
		<xs:annotation>
			<xs:documentation>Not used by ECLASS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="TEXT_Type"/>
			<xs:element name="coordinate_soace_dimension" type="xs:positiveInteger"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GEOMETRIC_UNIT_CONTEXT_Type">
		<xs:sequence>
			<xs:element name="length_unit" type="DIC_UNIT_Type" minOccurs="0"/>
			<xs:element name="length_unit_id" type="DIC_UNIT_REFERENCE_Type" minOccurs="0"/>
			<xs:element name="langle_unit" type="DIC_UNIT_Type" minOccurs="0"/>
			<xs:element name="angle_unit_id" type="DIC_UNIT_REFERENCE_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ITEM_CLASS_CASE_OF_Type">
		<xs:annotation>
			<xs:documentation>According to ISO13584-32:

Item_Class built with the case-of relationship which allows each organization to define its own class hierarchy and  allowing to import all needed  properties from remote ontologies.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CLASS_Type">
				<xs:sequence>
					<xs:element name="simplified_drawing" type="GRAPHICS_Type" minOccurs="0"/>
					<xs:element name="coded_name" type="VALUE_CODE_TYPE_Type" minOccurs="0"/>
					<xs:element name="instance_sharable" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>According to ISO13584-32:

only for ITEM_CLASS_TYPE: 
boolean when false, it specifies that instances of the item class are features; when not provided or true it specifies that instances of the item class are stand-alone items</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="is_case_of" type="CLASSES_REFERENCE_Type">
						<xs:annotation>
							<xs:documentation>According to ISO13584-32:

Concept identifier(s) of class(es) for which the described class is case-of</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imported_properties" type="PROPERTIES_REFERENCE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>According to ISO13584-32:

List of concept identifier(s) for imported property(ies) from the classes referenced in is_case_of  that are required to describe the current class.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imported_types" type="DATATYPES_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_documents" type="DOCUMENTS_REFERENCE_Type" minOccurs="0"/>
					<xs:element name="imported_constraints" type="CONSTRAINTS_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ITEM_CLASS_Type">
		<xs:annotation>
			<xs:documentation>According to ISO13584-32:

class which allows to characterize any kind of items, and in particular products, by a class member assignment and a set of property value pairs. 

Item classes belong to a single is-a hierarchy associated with inheritance.

ECLASS uses the Term CHARACTERIZATION_CLASS.
see ECLASS Technical Specification-11</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CLASS_Type">
				<xs:sequence>
					<xs:element name="simplified_drawing" type="GRAPHICS_Type" minOccurs="0"/>
					<xs:element name="coded_name" type="VALUE_CODE_TYPE_Type" minOccurs="0"/>
					<xs:element name="instance_sharable" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NON_INSTANTIABLE_FUNCTIONAL_VIEW_CLASS_Type">
		<xs:annotation>
			<xs:documentation>A functional view class allows to characterize a particular a discipline-oriented point of view (also called a representation category) that may prove useful for various classes of products.

ECLASS uses the term ASPECT_TYPE  (see ECLASS Technical Specification 11)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CLASS_Type">
				<xs:sequence>
					<xs:element name="view_control_variables" type="PROPERTIES_REFERENCE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Not used by ECLASS</xs:documentation>
						</xs:annotation>
						<xs:unique name="view_control_variables_Unique">
							<xs:selector xpath="property"/>
							<xs:field xpath="@property_ref"/>
						</xs:unique>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="V_C_V_RANGE_Type">
		<xs:annotation>
			<xs:documentation>not used by ECLASS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="view_control_variable_range" type="VIEW_CONTROL_VARIABLE_RANGE_Type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VIEW_CONTROL_VARIABLE_RANGE_Type" abstract="false">
		<xs:annotation>
			<xs:documentation>not used by ECLASS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="parameter_type" type="PROPERTY_REFERENCE_Type"/>
			<xs:element name="range_lobound" type="xs:integer"/>
			<xs:element name="range_hibound" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
