ISO13584-32/property.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by  (Paradine GmbH) -->
<!--
ISO TC 184/SC 4/WG 2 N869 - ISO 13584-32 OntoML - XML schema
-->
<!--
Changes
2016-10-13: added //element(*,PROPERTY_Type)/@guid
2019-01-02: added //element(*,PROPERTY_Type)/is_multivalent
2019-01-02: documented //element(*,PROPERTY_Type)/suggested_value_list
2019-01-02: set //element(*,PROPERTY_Type) cardinality to 1..n (allowed when domain was changed)
2019-01-02: added //element(*,PROPERTY_Type)/domain/@is_deprecated
2019-02-26: moved @is_deprecated of domain into ANY_TYPE_Type
-->
<!--

The following permission notice and disclaimer shall be included in all copies of this DTD/XML Schema ("the Schema"), 
and derivations of the Schema:

© ISO 2010 — All rights reserved

Permission is hereby granted, free of charge in perpetuity, to any person obtaining a copy of the Schema, to use, 
copy, modify, merge and distribute free of charge, copies of the Schema for the purposes of developing, implementing, 
installing and using software based on the Schema, and to permit persons to whom the Schema is furnished to do so, 
subject to the following conditions:

THE SCHEMA IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE 
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS 
OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR 
OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SCHEMA OR THE USE OR OTHER DEALINGS IN THE SCHEMA.

In addition, any modified copy of the Schema shall include the following notice:

THIS SCHEMA HAS BEEN MODIFIED FROM THE SCHEMA DEFINED IN ISO 13584-32, AND SHOULD NOT BE INTERPRETED AS COMPLYING 
WITH THAT STANDARD

-->
<xs:schema xmlns="urn:iso:std:iso:is:13584:-32:ed-1:tech:xml-schema:ontoml" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:is:13584:-32:ed-1:tech:xml-schema:ontoml" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="identifier.xsd"/>
	<xs:include schemaLocation="basic.xsd"/>
	<xs:include schemaLocation="translation.xsd"/>
	<xs:include schemaLocation="external_file.xsd"/>
	<xs:include schemaLocation="type_system.xsd"/>
	<!-- Global element -->
	<xs:element name="property" type="PROPERTY_Type">
		<xs:annotation>
			<xs:documentation>According to ISO13584-32:

Defined parameter suitable for the description and differentiation of items</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- Simple type definitions -->
	<xs:simpleType name="DET_CLASSIFICATION_TYPE_Type">
		<xs:annotation>
			<xs:documentation>Not used by ECLASS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Complex type definitions -->
	<xs:complexType name="CONDITION_DET_Type">
		<xs:annotation>
			<xs:documentation>The type represents a Condition-Property
see:  [ECLASS Technical Specification 11]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PROPERTY_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DEPENDENT_P_DET_Type">
		<xs:annotation>
			<xs:documentation>The type represents a Dependent-Property
see:  [ECLASS Technical Specification 11]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PROPERTY_Type">
				<xs:sequence>
					<xs:element name="depends_on" type="PROPERTIES_REFERENCE_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NON_DEPENDENT_P_DET_Type">
		<xs:annotation>
			<xs:documentation>The type represents a Non-Dependent-Property [ECLASS Technical Specification 11]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PROPERTY_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PROPERTY_Type" abstract="true">
		<xs:sequence>
			<xs:element name="name_scope" type="CLASS_REFERENCE_Type">
				<xs:annotation>
					<xs:documentation>according to ISO13584-32:

Reference to the class which defines the domain of items for which the property has a valid context.

ECLASS specific: 

ECLASS is not using the concept of name_scope. However, since mandatory in ISO 13584-32,for ECLASS elements name_scope always set to the ECLASS root class.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date_of_original_definition" type="DATE_TYPE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>according to ISO13584-32:

The date associated to the first stable version of the property definition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date_of_current_version" type="DATE_TYPE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>according to ISO13584-32:

The date associated to the present version of the property definition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date_of_current_revision" type="DATE_TYPE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>according to ISO13584-32:

The date associated to the present revision of the property definition
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="revision" type="REVISION_TYPE_Type">
				<xs:annotation>
					<xs:documentation>according to ISO13584-32:

The revision number of the present property definition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="STATUS_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Life cycle state.

ECLASS specific: 

ECLASS delivers always elements in released status only. Status is constant set to 66.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="translation" type="TRANSLATION_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Set of translations 

ECLASS may provide translations independent to releases of the property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source_language" type="LANGUAGE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Language in which the property definition was initially defined and that provides the reference meaning in case of translation discrepancy

ECLASS specific: 

For ECLASS always set to en_US</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="is_deprecated" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

A Boolean that specifies, when true, that the property definition shall no longer be used.
If true the property is deprecated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="is_deprecated_interpretation" type="TEXT_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferred_name" type="PREFERRED_NAME_Type">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The name of the property that is preferred for use.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="synonymous_names" type="SYNONYMOUS_NAME_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Set of synonymous names of the preferred name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="short_name" type="SHORT_NAME_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

Abbreviation of the preferred name.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="icon" type="GRAPHICS_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="definition" type="TEXT_Type">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The language specific definition of the property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source_doc_of_definition" type="SOURCE_DOCUMENT_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The possible source document of the definition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="note" type="TEXT_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="remark" type="TEXT_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferred_symbol" type="MATHEMATICAL_STRING_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="synonymous_symbols" type="SYNONYMOUS_SYMBOLS_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="figure" type="GRAPHICS_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="det_classification" type="DET_CLASSIFICATION_TYPE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="domain" type="ANY_TYPE_Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>According to ISO13584-32:

The data type (the value domain) associated to the property.

ECLASS specific: 

1..n (ISO only one).

ECLASS consistency rule: 

Only one domain with is_deprecated not set or set = false is allowed for ISO 13584-32 compatibility</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formula" type="MATHEMATICAL_STRING_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used by ECLASS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="suggested_value_list" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ECLASS Extension:

Boolean value which indicates whether the Value-List of property is 

- suggested respectively open = true or 
- restrictive  respectively closed = false.

In ISO 13584-32 only closed Value-Lists are speciified. However ECLASS has need for open Value-Lists.

If the attribute is not set, default is closed for ISO 13584-32 compatibility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="is_multivalent" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ECLASS Extension:

Boolean which indicates whether property is  univalent (false) or multivalent (true). 

In ISO 13584-32 only multivalent properties are defined. However ECLASS has need for univalent properties.

If the attribute is not set, default is multivalent for ISO 13584-32 compatibility.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="range_constraint" type="RANGE_CONSTRAINT_Type" minOccurs="0"/>
			<xs:element name="level_property" type="LEVEL_PROPERTY_REFERENCE_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ECLASS Extension:

For Single-Level-Properties only:

Reference to the Level-Property including the  Level of Single-Level-Property is representing.

Example:

Single level property 0173-1#02-ABK194#001 "absoluter Luftdruck - MIN"  represents the level MIN of property 0173-1#02-AAZ089#002 "absoluter Luftdruck"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="PropertyId" use="required">
			<xs:annotation>
				<xs:documentation>the property identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="guid" type="GUID">
			<xs:annotation>
				<xs:documentation>ECLASS extension</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="REPRESENTATION_P_DET_Type">
		<xs:annotation>
			<xs:documentation>Not used by ECLASS</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PROPERTY_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SYNONYMOUS_SYMBOLS_Type">
		<xs:annotation>
			<xs:documentation>Not used by ECLASS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mathematical_string" type="MATHEMATICAL_STRING_Type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>